#gender
{
	height:300px;
	width:300px;
	background-color:green;
	font-size:35px;
	border-radius:6px;
	text-align:center;
}
#name
{
	height:300px;
	width:300px;
	background-color:violet;
	font-size:35px;
	border-radius:6px;
	text-align:center;
	display:none;
}
#home
{
	//height:580px;
	width:300px;
	background-color:lightblue;
	font-size:35px;
	border-radius:6px;
	text-align:center;
	display:none;
}
#name_text
{
	height:40px;
	width:150px;
	border-radius:6px;
	border-bottom:5px solid purple;
	border-left:none;
	border-top:none;
	border-right:none;
	background:transparent;
	font-size:35px;
	text-align:center;
}
#name_text{outline:none;}

#name_text1
{
	height:40px;
	width:150px;
	border-radius:6px;
	border:none;
	background:transparent;
	font-size:35px;
	text-align:center;
}
#name_text1{outline:none;}
.gender_button
{
	height:50px;
	width:110px;
	border-radius:5px;
	font-size:30px;
	background-color:#f1f1f1;
}
#card-male,#card-female
{
	height:300px;
	width:300px;
	border-radius:6px;
	display:none;
}
#score
{
	display:none;
}
#LG
{
	height:60px;
	width:60px;
	vertical-align:middle;
}